/* CSS DOCUMENT */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Barlow;
}

@keyframes iconos-titilando {
    0% {
        transform: scale(1) ;
    }
    33% {
        transform: scale(0.6);
    }
    66% {
        transform: scale(0.8);
    }
}

@keyframes iconos-titilando-1 {
    0% {
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}

.animacion-titilando {
    animation: iconos-titilando 1.5s steps(3, end) infinite;
}

.animacion-titilando-1 {
    animation: iconos-titilando-1 1.5s steps(3, end) infinite;
}

/******* NAV ******/

header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    gap: 10px;
    flex-direction: column;
}

header div {
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
    background: #000;
    flex-wrap: wrap;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    align-self: stretch;
}

nav a {
    display: flex;
    padding: 20px 30px;
    color: #ffffff;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    justify-content: center;
    text-transform: uppercase;
    transition: all 0.3s ease;
    align-self: stretch;
    align-items: center;
}

nav a:hover {
    background-color: #ffffff;
    color: #000;
}

header ul {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

header li {
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 0.755px solid #000;
    background: #ffffff;
}

header li p {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1px;
}

/****** FIN NAV *****/

/****** MAIN ******/
main {
    position: relative;
    z-index: 9;
}

.index-main-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filas-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-main-desktop section {
    width: 100%;
    max-width: 1280px;
    margin: 30px 0;
}

#index-main-mobile {
    display: none;
}

.div-index {
    display: flex;
    width: 363px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-index p {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    color: #000;
    font-family: Barlow;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.div-index img {
    display: flex;
    padding: 16px 32px;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid #000;
}

.fecha {
    display: flex;
    padding: 16px 0px;
    justify-content: center;
    gap: 10px;
    border: 3px solid #000;
    font-size: 31.714px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.titulo-index {
    color: #000;
    font-family: Barlow;
    font-size: 10.2rem;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 10rem;
    font-weight: 200;
}


/****** FOOTER *****/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    padding: 50px 30px;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 3px solid #000;
}

.footer-container div {
    display: flex;
    align-items: center;
    gap: 30px;
}

/****** MAIN IFRAMES *****/

#iframes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

/****** FIN MAIN IFRAMES *****/

/****** MAIN CRONOGRAMA *****/

#cronograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

/****** DESPLEGABLES *****/
details {
    width: 100%;
    max-width: 1280px;
}

details[open] summary {
    margin-bottom: 10px;
}

@keyframes desplegable {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#miercoles h3:hover {
    background-color: #ff5906;
    color: #ffffff;
}

#miercoles h2:hover {
    color:  #ff5906;
}

#jueves h3:hover {
    background-color: #3358ff;
    color: #ffffff;
}

#jueves h2:hover {
    color: #3358ff;
}

#viernes h3:hover {
    background-color: #941bff;
    color: #Ffff;
}

#viernes h2:hover {
    color: #941bff;
}

#lunes h3:hover {
    background-color: #2bbf63;
    color: #ffffff;
}

#lunes h2:hover {
    color: #2bbf63;
}

#martes h3:hover {
    background-color: #f608ca;
    color: #ffffff;
}

#martes h2:hover {
    color: #f608ca;
}

summary {
    border-top: 3px solid #000;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: margin 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-bottom: -20px;
}

summary h2 {
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

summary h3 {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    background: #000;
    color: #ffffff;
    font-family: Barlow;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.065rem;
    margin-top: 10px;
}

summary a {
    margin-top: 14px;
}

.actividad,
.actividades,
.hora {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

time {
    color: #000;
    font-family: "Barlow Condensed";
    font-size: 4.9rem;
    font-weight: 300;
}

.hora {
    width: 230px;
}

.hora div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.hora p {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    padding: 4px 0;
}

.actividades svg {
    margin-top: 22px;
}

.info {
    margin-top: 22px;
    display: flex;
    padding: 0 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-left: 3px solid #000;
    max-width: 330px;
}

.depto {
    color: #521D66;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.08rem;
}

.nombre-charla {
    font-size: 1.4rem;
    font-weight: 600;
    text-wrap: pretty;
}

.nombre-charla span {
    font-weight: 400;
}

.expositor {
    font-size: 1.4rem;
    font-weight: 300;
}

.lugar {
    color: #4D4D4D;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}


/****** FIN MAIN CRONOGRAMA *****/

#instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#mapa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#mapa h2 {
    font-size: 5rem;
    gap: 20px;
}

#mapa ul {
    margin: 15px;
    border-left: 3px solid #000;
    padding: 0 0 10px 20px;
}

#mapa li {
    font-size: 1.5em;
    font-weight: 300;
}

/****** MOBILE *****/

@media screen and (max-width: 700px) {

    header {
        margin-top: 0px;
    }

    header div {
        justify-content: center;
        align-items: center;
        padding: 10px 0 0 0;
    }

    nav a {
        flex: 1;
        text-align: center;
        padding: 10px;
    }

    nav {
        gap: 3px;
    }

    .footer-container {
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }

    #logo-shya {
        display: none;
    }

    #index-main-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index-main-desktop {
        display: none;
    }

    #flores-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 30px;
        margin: 30px;
    }

    .titulo-index {
        font-size: 3rem;
    }

    hgroup {
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: fit-content;
    }

    #fecha-mobile {
        display: flex;
        padding: 10px 20px;
        background-color: #000;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px;
    }

    #index-main-mobile article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
        gap: 10px;
    }

    #index-main-mobile article p {
        display: flex;
        padding: 7px 15px;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #ffffff;
    }

    #index-main-mobile article img {
        display: flex;
        padding: 0px 17px;
        border: 2px solid;
    }

    h2 {
        font-size: 3.2rem;
    }

    summary {
        align-items: center;
        gap: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }

    summary h2 {
        font-size: 5rem;
    }

    .actividades {
        justify-content: flex-start;
        gap: 15px;
    }

    .info {
        margin: 0;
    }

    .hora {
        gap: 10px;
        justify-content: flex-start;
    }

    summary h3 {
        text-align: center;
    }

    #mapa {
        width: 90%;
        
    }

    #mapa h2 {
        font-size: 3rem;
        padding-top: 20px;
    }

    #mapa ul li {
        font-size: 1rem;
    }
}